*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: #ffc8c4;
    color: #fff5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Lexend", sans-serif;
}
main{
    background: #b5e8a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    flex-wrap: wrap;
}
#title, #recap-msg{
    font-family: "Borel", cursive;
    text-shadow: 0 0 5px #1e1e1e49;
}
#subtitle{
    font-size: .8em;
    font-style: italic;
}
#counter-display{
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(105, 60%, 67%) ;
    width: 60px;
    height: 60px;
    font-size: 2em;
    border-radius: 8px;
    margin-bottom: 20px;
}
button{
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: "Lexend", sans-serif;
}

button:hover{
    background: #1e1d1d;
    color: #fff;
    transition: background .8s ease-out;
}

#reset-btn{
    margin: 20px;
}
